{% extends 'layout.html' %}
{% block title %}TheFlipperEconomics{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="nyt-article">
                <h1 class="nyt-article-title mb-4">{{ article.title }}</h1>
                <div class="nyt-article-meta mb-4">
                    <p class="nyt-article-date text-muted mb-0">{{ article.date_written }}</p>
                    <p class="nyt-article-author text-muted mb-0">By {{ article.author }}</p>
                </div>
                <img src="{{ article.image.url }}" class="img-fluid mb-4" alt="{{ article.title }}">
                <div class="nyt-article-content">{{ article.content|safe }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}